/* .card.card-cascade .view.gradient-card-header {
    padding: 1.1rem 1rem;
}

.card.card-cascade .view {
    box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}
.set_icon{
    display: flex;
}
.navbar{
    padding-left: 25px;
} */