.row {
    display: flex;
    flex-wrap: wrap;
    padding: 5em;
  }
  
  .column {
    flex: 25%;
    padding: 0.1em;
  }
  
  .column .img {
    width: 100%;
    display: none;
    border: 2px solid #e5e6e6;
  }
  .avatar{
    
    max-width: 80px;
    max-height:50px;
    width: auto;
    height: auto;
    align-self: auto;
    
  }
  .position{
    width: 50px !important;
  }
 
  .bg-image-register{
    background-image: url("https://images.unsplash.com/photo-1469212044023-0e55b4b9745a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1510&q=8");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;   
    
  }
  .bg-image-login{
    background-image: url("https://images.unsplash.com/photo-1592135841592-b635e8350ed8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;  
    height: 100vh;
  }

 