/* .row {
    display: flex;
    flex-wrap: wrap;
    padding: 5em;
  }
  
  .column {
    flex: 25%;
    padding: 0.1em;
  }
  
  .column .img {
    width: 100%;
    display: none;
    border: 2px solid #e5e6e6;
  }
  .avatar{
    
    max-width: 80px;
    max-height:50px;
    width: auto;
    height: auto;
    align-self: auto;
    
  }
  .position{
    width: 50px !important;
  } */

 
 

 